.login-btn{
    width: 100%;
    margin: 10px 0;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.input-title{
    margin: 2px 0;
}

input{
    padding: 10px 5px;
    font-size: large;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.message{
    color: red;
}